.yellow{
    color: rgb(14, 13, 13);
    border: 10px solid black;
    margin-bottom: 20px;
    padding: 10px;
    height: 400px;
    text-align: center;
    box-shadow: 10px 10px 20px rgb(226, 9, 9);
    display: block;
/* visibility: hidden; */
background-image: url('../images/Screenshot\ 2026-04-17\ 144134.png');
/* background-size: contain; */
background-repeat: no-repeat;
background-size: cover;
background-image: url('../');
}
.shamim{
    background-image: url('../images/Screenshot\ 2026-04-17\ 144134.png');
    color: red;
    background-position:;
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
}